
    <%- include('../partials/header') %>
    <tbody>
     
        <%if(flights!=null) {%>
        
              <% flights.forEach((f) => { %>
            <tr>
                <td>Airline:<%= f.airline %></td>
                <br>
                <td>Airport:<%= f.airport %></td>
                <br>
                <td>Flight Number:<%= f.flightNo %></td>
                <br>
                <td>Departure<%= f.departs %></td>
                <br>
                <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
              </tr>
              <br>
            <% }) %>
            <%} else{%>
                <tr><td>There are no flights in the directory</td></tr>
                <% } %>
      </tbody>

    <%- include('../partials/footer') %>

