<%- include('../partials/header') %>


<section id = "Show-Page">
<div>Airline::<%=flight.airline%></div>
<div>Airport::<%=flight.airport%></div>
<div>FlightNo::<%=flight.flightNo%></div>
<div>Departure::<%=flight.departs%></div>
<div>Tickets::<% flight.ticket%></div>
<form action="/flights/<%= flight._id %>?_method=DELETE" class="delete-form" method="POST">
    <button type="submit">Delete</button>
  </form>
</section>












<%- include('../partials/footer') %>

